<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="hero">
      <%- include('../partials/header') %>
      <div class="hero--content">
        <div class="content--text">
          <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
            repudiandae quia accusantium omnis? Unde, explicabo! Nam accusamus
            aspernatur fugit?
          </p>
        </div>
        <div class="content--form">
          <%- include('../partials/searchForm' ) %>
        </div>
      </div>
    </section>


    <section class="info--content">
      <div class="content--wrapper">
        <h2>By one click you can access more than you think </h2>
          <img src="assets/travelMock.jpeg" alt="" />
          <p class="info--desc"> <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>  Voluptas et delectus quas eos maxime error voluptates minima minus expedita, blanditiis molestias sed doloribus possimus quos eaque unde. Excepturi, rem non! </p>
      </div>
    </section>
    <section class="more--content">
      <div class="more--wrapper">
        <h4>By one click you can access more than you think </h4>
        <p class="more--desc"> <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span> 
          Voluptas et delectus quas eos maxime error voluptates minima minus expedita </p>
         <div class = "img--ctr">

         </div>
     
      </div>
    </section>
   
    <section class="cards--content">
      <%- include('../partials/recommend', {recommend : recommend})  %> 
    </section>


    <section>
<%fav.forEach(element => { %>
  <div>
    <p><%=element.place%></p>
    <img src="<%=element.photo%>">
  </div>
    <%}); %>
  </section>


  </body>
</html>
